* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 800px;
    border: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url('./img/background.png');
    background: linear-gradient(#87CEEB, #E0F6FF);
    margin-bottom: 0;
}

.pipe {
    position:absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 3s infinite linear;
}

.mario {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 600ms ease-out; /* aumente o tempo aqui */
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 15s infinite linear;
}

.bill {
    position: absolute;
    bottom: 110px;
    right: -200px;
    width: 400px;
    height: 400px;
    z-index: 2;
    animation: bill-animation 1s infinite linear; /* diminua o tempo aqui */
}

.koopa {
    position: absolute;
    bottom: 0;
    right: -120px;
    width: 120px;
    height: 120px;
    z-index: 2;
    animation: koopa-animation 2s infinite linear;
}

.bola-de-fogo {
    pointer-events: none;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40% {
        bottom: 200px;
    }
    50% {
        bottom: 200px;
    }
    60% {
        bottom: 200px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

@keyframes mario-gameover-jump {
    0% {
        bottom: 0;
        transform: rotate(0deg);
    }
    20% {
        bottom: 120px;
        transform: rotate(-10deg);
    }
    40% {
        bottom: 160px;
        transform: rotate(10deg);
    }
    60% {
        bottom: 120px;
        transform: rotate(-10deg);
    }
    100% {
        bottom: -400px; /* cai bem além da borda do game-board */
        transform: rotate(30deg);
    }
}

.mario.game-over-jump {
    animation: mario-gameover-jump 1.2s forwards;
    transition: bottom 0.3s;
}

.mario.crouch {
    height: 90px;   /* altura menor para agachar */
    width: 150px;   /* mesma largura do Mario em pé */
}

@keyframes bill-animation {
    from {
        right: -120px;
    }
    to {
        right: 100%;
    }
}

@keyframes koopa-animation {
    from {
        right: -120px;
    }
    to {
        right: 100%;
    }
}

@keyframes background-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

.browser {
    position: absolute;
    bottom: 0;
    left: -200px;
    width: 300px; /* tamanho fixo para todas as animações */
    height: 220px; /* ajuste conforme necessário para o sprite */
    z-index: 10;
    display: none;
    transition: left 1s linear, transform 0.5s;
    object-fit: contain;
}